.icon.fa {
	font-family: 'FontAwesome';
}

.bar-nav-link {
	position: relative;
}

.bar-nav-link .link-text {
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
}

.bar-nav-link .link-text.link-text-small {
	font-size: 75%;
	line-height: 12px;
}

.page-with-bottom-nav .content {
	padding-bottom:50px;
}


.media-object-wrapper  {
	height: 50px; width:30%; margin-right:15px;
	display: table;
}


.media-object-wrapper .media-object {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.media-object-wrapper .media-object img {
	max-height:50px; 
	max-width:100%;
	border-radius: 10px;
}


.media-object-wrapper .media-object.no-image > div{
	color: rgb(218, 210, 210);
}

#page-days .dish-image {
	width: 100%;
	margin-top: 20px;
}

.img-rounded {
	border-radius: 10px;
}