@import "_color-definitions";

// $color-primary:"200,71,39";
// $color-accent: "255,64,129";
// $color-primary-dark: "140,35,9";
$color-primary:"0,188,212";
$color-accent: "255,64,129";
$color-primary-dark: "2,127,141";

@import 'material-design-lite';

@import 'variables';
@import 'layout';
@import 'utils';
@import 'sign-in';
@import 'recipes';
@import 'components/wf-nav';
@import 'forms';
