body {
  background-color: #F2F2F2;
  font-family: $preferred_font;
}

.hidden-header {
    display: none !important;
}

.mdl-layout__content {
  display: flex;
  height: 100%;
}

.page-content {
  display: block;
  width: 100%;
  position: relative;
}

.page-header {
  padding:8px;
  h1 {
    font-size: 30px;
    color: $gray;
    margin: 0;
  }
}

#hidden-drawer-button {
  display: none;
}

.mdl-layout__header.wf-header-with-icon {
  flex-direction: row;
  position: relative;
  .wf-header-button {
    position: relative !important;
  }
  .wf-header-menu-button {
    display: none;
  }
  .mdl-layout__header-row {
    padding-left:16px;
  }
}

.mdl-layout__header--transparent::before{
  content:"";
  background: rgba(0, 0, 0, 0.29);
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}
.mdl-layout__header--transparent {
  background-size:cover;
  height:400px;
}

.mdl-card__supporting-text {
  padding:12px;
}

.mdl-layout__drawer {
  border-right: none;
}

// Drawer button... taken from mdl css
.mdl-layout__drawer-button, .wf-header-button {

  i {
    margin-top: 13px;
  }

  &>.mdl-button {
    top: -2px;
  }

  display: block;

  position: absolute;
  height: $layout-drawer-button-desktop-size;
  width: $layout-drawer-button-desktop-size;
  border: 0;

  flex-shrink: 0;

  overflow: hidden;
  text-align: center;
  cursor: pointer;
  font-size: 26px;
  line-height: $layout-drawer-button-desktop-size + 2;
  font-family: Helvetica, Arial, sans-serif;
  margin: 8px 0px 8px 12px;
  top: 0;
  left: 0;
  color: $layout-header-text-color;

  z-index: 4;

  .mdl-layout__header & {
    position: absolute;
    color: $layout-header-text-color;
    background-color: inherit;

    @media screen and (max-width: $layout-screen-size-threshold) {
      margin: 4px;
    }
  }

  @media screen and (max-width: $layout-screen-size-threshold) {
    margin: 4px;
    color: rgba(0, 0, 0, 0.5);
  }

  @media screen and (min-width: $layout-screen-size-threshold + 1px) {
    .mdl-layout--fixed-drawer > & {
      display: none;
    }
  }
}

.mdl-layout__drawer.is-visible ~ .mdl-layout__content.mdl-layout__content {
    overflow: auto;
}
