 .recipe-card {
   justify-content: space-between;
   width: 100%;
   a {
     text-decoration: none;
     font-weight: inherit;
   }

   .mdl-card__title {
     height:160px;
     padding:0;
   }

   .mdl-card__title_image{
     height: 100%;
     width: 100%;
     background-position: center center;
     background-color: #108B7F;
     background-size: contain;
     background-repeat: no-repeat;
   }


   .mdl-card__title_image.background-cover {
     background-size: cover;
   }
   .mdl-card__supporting-text {
     color: $text-color-primary;
   }
   .remove-recipe {
     color: $secondary-text-color;
     float: right;
   }

   .recipe-name {
     font-size: 16px;
    //  font-weight: bolder;
     line-height: 20px;
   }

   .recipe-description {
       font-size: 14px;
       margin:3px 0;
      //  font-weight: bolder;
       color: $secondary-text-color;
       line-height: 20px;
   }
 }


//add recipe
.recipe-editor {
  .mdl-card__supporting-text {
    padding-top: 0px;
    padding-bottom: 30px;
  }

  #image-preview {
    height: 150px;
    width: 300px;
    background-position: center center;
    background-color: #108B7F;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.recipe-list-item-cell {
  display: flex;
  @media (min-width: 840px){
    max-width: 300px;
  }
}

.mdl-image-header-card {
  background-color: $primary-color-dark;

  .mdl-card__supporting-text {
    text-align: center;
    padding:30px;
    .primary-text {
      font-size: 18px;
      color: $primary-color-text;
      line-height: 20px;
      margin-bottom: 10px;
    }
    .secondary-text {
      font-size: 16px;
      color: $primary-color-light;
    }

  }
}
