<div class="wf-nav-user-content">
  <img src="{{session.currentUser.avatar}}" alt="" class="wf-nav-user-img"/>
  <div class="wf-nav-user-name">
    {{session.currentUser.displayName}}
  </div>
</div>
