<h2>Days</h2>
{{#each model as |day|}}
  {{moment-format day.date 'YYYY-MM-DD'}} <br>
{{/each}}

<hr>

<h2>Add day</h2>
{{mdl-textfield value=date}}
{{mdl-button isRaised=true text="save" action="saveDay"}}

{{outlet}}
