.week-planner {
  margin-top: 30px;
  .day-content {
    font-size: 16px;
    color: $secondary-text-color;

    // mobile view
    @media(max-width: $grid-desktop-breakpoint - 1) {
      width: 100%;
      margin-bottom: 0;
    }

    // desktop
    @media(min-width: $grid-desktop-breakpoint) {
      &.mdl-cell {
        margin-top: 10px;
      }

      padding-right: 20px;
      text-align: right;
    }
  }

  .day-weekday {
    font-weight: bold;
  }

  .day-weekday, .day-date {
    display: inline-block;

    @media(min-width: $grid-desktop-breakpoint) {
      display: block;
    }
  }

  .mdl-grid {
    padding: 0px 8px;
  }

  .mdl-card {
    min-height: auto;
  }

  .mdl-list {
    margin: 0;
  }

  a.mdl-card__supporting-text {
    cursor: pointer;
    text-decoration: none;
  }

  .mdl-list__item .mdl-list__item-avatar {
    @extend .ratio-background;
    background-size: cover;
    width: 75px;
    height: 75px;
  }

  .mdl-card__day {
    .mdl-card__title {
      display: none;
    }
  }

}
