{{#link-to 'plan.week' prevWeek}}Previous{{/link-to}}
{{#link-to 'plan.week' nextWeek}}Next{{/link-to}}

<h1>Week {{week.weekNumber}}</h1>

{{#each weekDays as |day|}}
  {{#week-day day=day}}
    {{format-date day.date}}
  {{/week-day}}
{{/each}}

{{outlet}}
