{{wf-nav-header buttonIcon='arrow_back' buttonGoToRoute='recipes' title="New Recipe"}}
{{#wf-content}}
  <div class="mdl-grid">
    {{recipe-editor
      classNames="mdl-cell mdl-cell--12-col recipe-editor mdl-card mdl-shadow--2dp"
      recipe=model
      saveRecipe=(route-action "saveRecipe")}}
  </div>
{{/wf-content}}
