<div class="page page-with-bottom-nav">
	{{liquid-outlet}}
	
	<nav class="bar bar-tab">	
		{{#link-to 'plan.week' currentYear currentWeek active=planTabIsActive classNames="tab-item" }}
			<span class="icon fa fa-calendar"></span>
			<span class="tab-label">Plan</span>
		{{/link-to}}
		{{#link-to 'dishes' classNames="tab-item"}}
			<span class="icon fa fa-book"></span>
			<span class="tab-label">Cookbook</span>
		{{/link-to}}
	</nav>
</div>