<br/>

<ul id="chooseDishList" class="list-group">
{{#each dish in model}}
	<li class="list-group-item">
		<div class="row">
			<div class="col-xs-4 item-container image">
				<div class="item-wrapper">
					<div class="item-content">
						<img class="img-responsive" {{bind-attr src=dish.image}}/>
					</div>
				</div>
				
			</div>
			<div class="col-xs-5 item-container">
				<div class="item-wrapper">
					<div class="item-content">
						<strong>{{dish.name}}</strong>
					</div>
				</div>
				
			</div>	
			<div class="col-xs-3 item-container ">
				<div class="item-wrapper choose-btn pull-right">
					<div class="item-content">
						<button {{action "chooseDish" dish}} class="btn btn-default btn-sm">Choose</button>
					</div>
				</div>
			</div>
		</div>
		

	</li>
{{/each}}
</ul>
