{{wf-nav-header title="Recipes"}}
{{#wf-content}}
    <div class="mdl-grid">
      {{#each model as |recipe|}}
        <div class="recipe-list-item-cell mdl-cell mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-cell--3-col-desktop">
          {{recipe-list-item
            recipe=recipe
            edit=(route-action "goToEditRecipe")
            delete=(route-action "deleteRecipe")}}
        </div>
      {{/each}}
    </div>
    {{#unless model}}
      <div class="list-items-empty-text flex-child-center">
          <p>
            You have no recipes.
          </p>
          <p>
            Use the button on the bottom right to <strong>add</strong> one.
          </p>
      </div>
    {{/unless}}
    {{mdl-button isFloating=true icon='add' action="goToAddRecipe" classNames="fab-bottom-right mdl-shadow--4dp"}}
    <div style="height:90px"></div>
{{/wf-content}}

{{outlet}}
