<nav id="main-nav" class="nav navbar-default navbar-fixed-top">
	<div class="nav-brand">
		<h3>WeekFewd</h3>
	</div>
	<div>
		<ul class="nav nav-pills nav-justified">
			<li>
				{{#link-to 'plan'}}Plan{{/link-to}}
			</li>
			<li class="separator">&nbsp;</li>
			<li>
				{{#link-to 'dishes'}}Dishes{{/link-to}}
			</li>
		</ul>

	
	
	</div>
</nav>

{{outlet}}

